.dashboard-layout {
  display: flex;
}

app-sidebar {
  width: 200px;
  background-color: #ffffff;
}

.dashboard-content {
  flex: 1;
  padding: 16px;
  background-color: #ffffff;
  overflow-y: auto;
  height: calc(100vh - 60px);
}
