<p-toast />
<p-card header="Create Dynamic Todo">
  <!-- Title -->
  <div class="p-field mb-3">
    <input
      pInputText
      placeholder="Todo Title"
      [(ngModel)]="newTodo.title"
      class="w-full"
    />
  </div>

  <!-- Category -->
  <div class="p-field mb-3">
    <p-select
      [options]="categories"
      [(ngModel)]="newTodo.category"
      placeholder="Category"
      class="w-full"
    ></p-select>
  </div>

  <div class="p-field mb-3 flex align-items-center gap-3">
    <label class="m-0 font-medium">Created By:</label>
    <span class="p-2 surface-100 border-round text-sm">
      {{ currentUser?.username }}
    </span>
  </div>

  <!-- Assigned To -->
  <div class="p-field mb-3">
    <p-select
      [options]="users"
      [(ngModel)]="newTodo.assignedTo"
      placeholder="Assign To"
      class="w-full"
    ></p-select>
  </div>

  <!-- Status -->
  <div class="p-field mb-3">
    <p-select
      [options]="statusOptions"
      [(ngModel)]="newTodo.status"
      placeholder="Status"
      class="w-full"
    ></p-select>
  </div>

  <!-- Expected Date -->
  <div class="p-field mb-3">
    <p-datePicker
      [(ngModel)]="newTodo.expectedDate"
      class="w-full"
    ></p-datePicker>
  </div>

  <p-divider></p-divider>

  <h4>Add Fields</h4>

  <button
    pButton
    *ngFor="let t of fieldTypes"
    class="mr-2 mb-2"
    [label]="t"
    (click)="addField(t)"
  ></button>

  <div *ngFor="let field of newTodo.fields; let i = index" class="mt-2">
    <p-card class="mt-3">
      <input
        pInputText
        placeholder="Field Label (What?)"
        [(ngModel)]="field.label"
        class="w-full mb-2"
      />

      <ng-container [ngSwitch]="field.type">
        <input
          *ngSwitchCase="'text'"
          pInputText
          class="w-full"
          [(ngModel)]="field.value"
        />
        <input
          *ngSwitchCase="'number'"
          type="number"
          pInputText
          class="w-full"
          [(ngModel)]="field.value"
        />
        <p-datePicker
          *ngSwitchCase="'date'"
          class="w-full"
          [(ngModel)]="field.value"
        ></p-datePicker>
        <textarea
          *ngSwitchCase="'textarea'"
          pTextarea
          class="w-full"
          [(ngModel)]="field.value"
        ></textarea>
        <input
          *ngSwitchCase="'link'"
          pInputText
          class="w-full"
          placeholder="https://"
          [(ngModel)]="field.value"
        />
        <input
          *ngSwitchCase="'image'"
          pInputText
          class="w-full"
          placeholder="Image URL"
          [(ngModel)]="field.value"
        />
      </ng-container>

      <button
        pButton
        icon="pi pi-trash"
        severity="danger"
        class="mt-2"
        (click)="removeField(i)"
      ></button>
    </p-card>
  </div>

  <button
    pButton
    [label]="isEditMode ? 'Update Todo' : 'Save Todo'"
    severity="success"
    class="mt-3"
    (click)="saveTodo()"
  ></button>
</p-card>

<p-divider></p-divider>

<p-card header="Todo List">
  <div class="p-d-flex p-gap-2 p-mb-3">
    <p-select [options]="users" [(ngModel)]="filterUser" placeholder="User" />
    <p-select
      [options]="categories"
      [(ngModel)]="filterCategory"
      placeholder="Category"
    />
    <p-datePicker [(ngModel)]="filterDate" />
    <button
      pButton
      label="Clear Filters"
      severity="secondary"
      (click)="clearFilters()"
    ></button>
  </div>

  <div class="p-d-flex p-flex-column p-gap-3">
    <p-card *ngFor="let todo of filteredTodos()">
      <ng-template pTemplate="header">
        <div class="pl-2 pt-2 flex align-items-center gap-2">
          <p-tag [value]="todo.title"></p-tag>
          <p-tag
            [value]="todo.status"
            [severity]="severity(todo.status)"
          ></p-tag>
        </div>
      </ng-template>

      <p><b>Assigned:</b> {{ todo.assignedTo }}</p>
      <p class="text-sm mb-1">
        <b>Created Date:</b>
        {{ todo.createdDate | date : "dd MMM yyyy, hh:mm a" }}
      </p>

      <p class="text-sm mb-2">
        <b>Expected Date:</b>
        {{ todo.expectedDate | date : "dd MMM yyyy" }}
      </p>

      <ul>
        <li *ngFor="let f of todo.fields">
          <b>{{ f.label }}:</b> {{ f.value }}
        </li>
      </ul>

      <button
        pButton
        icon="pi pi-pencil"
        label="Edit"
        class="mt-2"
        (click)="editTodo(todo)"
      ></button>
    </p-card>
  </div>
</p-card>
