<div class="attendance-container">
  <p-dropdown
    [(ngModel)]="viewType"
    [options]="viewOptions"
    placeholder="Select View"
    (onChange)="changeView(viewType)"
  ></p-dropdown>
  <p-button
    label="Previous"
    severity="help"
    class="mr-3"
    *ngIf="viewType === 'weekly'"
    (onClick)="
      fetchWeeklyAttendance(attendance, weeklyAttendance[6].date, 'previous')
    "
  />
  <p-button
    label="Next"
    severity="help"
    [disabled]="isNextWeekAvl"
    *ngIf="viewType === 'weekly'"
    (onClick)="
      fetchWeeklyAttendance(attendance, weeklyAttendance[0].date, 'next')
    "
  />
  <p-dropdown
    *ngIf="viewType === 'monthly'"
    [(ngModel)]="viewMonth"
    [options]="months"
    placeholder="Select Month"
    (onChange)="changeView(viewType)"
  ></p-dropdown>

  <div *ngIf="viewType === 'weekly'" class="weekly-view">
    <p-table [value]="weeklyAttendance">
      <ng-template pTemplate="header">
        <tr>
          <th>Date | Day</th>
          <th>Status</th>
          <th>Sign In</th>
          <th>Sign Out</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-day>
        <tr>
          <td>
            {{ day.date | date : "MMM d, yyyy" }} |
            {{ day.date | date : "EEEE" }}
          </td>
          <td [ngClass]="day.status">
            @if(day.status.includes('Alert')){
            <p-tag
              icon="pi pi-exclamation-triangle"
              [value]="day.status"
              [style]="{
                'background-color': 'orange',
                color: 'black',
                'font-weight': 'normal',
                'text-transform': 'capitalize',
              }"
            />
            } @if(day.status.includes('Absent')){
            <p-tag
              [value]="day.status"
              [style]="{
                'background-color': 'red',
                color: 'black',
                'font-weight': 'normal',
                'text-transform': 'capitalize',
              }"
            />
            } @if(day.status.includes('Half-day')){
            <p-tag
              [value]="day.status"
              [style]="{
                'background-color': 'lightblue',
                color: 'black',
                'font-weight': 'normal',
                'text-transform': 'capitalize',
              }"
            />
            } @if(day.status.includes('Present')){
            <p-tag
              [value]="day.status"
              [style]="{
                'background-color': 'lightgreen',
                color: 'black',
                'font-weight': 'normal',
                'text-transform': 'capitalize',
              }"
            />
            } @if(day.status.includes('Holiday')){
            <p-tag
              [value]="day.status"
              [style]="{
                'background-color': 'lightgrey',
                color: 'black',
                'font-weight': 'normal',
                'text-transform': 'capitalize',
              }"
            />
            } @if(day.status.includes('Off')){
            <p-tag
              [value]="day.status"
              [style]="{
                'background-color': 'green',
                color: 'black',
                'font-weight': 'normal',
                'text-transform': 'capitalize',
              }"
            />
            } @if(day.status.includes('Working')){
            <p-tag
              [value]="day.status"
              [style]="{
                    'background-color': 'lightblue',
                    color: 'black',
                    'font-weight': 'normal',
                    'text-transform': 'capitalize',
                  }"
            />
            }
          </td>
          <td>{{ day.signIn }}</td>
          <td>{{ day.signOut }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <div *ngIf="viewType === 'monthly'" class="monthly-view">
    <div class="monthly-grid">
      <div class="week-row" *ngFor="let week of monthlyAttendance">
        <div class="day-box" *ngFor="let day of week">
          <div class="date">{{ day.date | date : "d" }}</div>
          <div class="day-name">{{ day.date | date : "EEE" }}</div>
          <div class="status" [ngClass]="day.status">
            {{ day.status | titlecase }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="viewType === 'yearly'" class="yearly-view">
    <p-table [value]="yearlyAttendance">
      <ng-template pTemplate="header">
        <tr>
          <th>Month</th>
          <th>Present</th>
          <th>Leaves</th>
          <th>Holidays</th>
          <th>Offs</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-month>
        <tr>
          <td>{{ month.name }}</td>
          <td>{{ month.present }}</td>
          <td>{{ month.leaves }}</td>
          <td>{{ month.holidays }}</td>
          <td>{{ month.offs }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
